//
@import "partials/variables";
@import "partials/general";
@import "partials/header";
@import "partials/main";
@import "partials/single_comic";
@import "partials/footer";
//reset
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}