.container {
  width: 70%;
  margin: 0 auto;
}

header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
header img {
  width: 60px;
  height: 60px;
  margin: auto 0;
}
header ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
header ul li {
  line-height: 100px;
}
header ul li a {
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  color: gray;
  padding: 0 20px;
}
header input {
  height: 20px;
  margin: auto 0;
}

.hero-banner {
  background-image: url("../images/jumbotron.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.current_series {
  background-color: #1c1c1c;
  color: white;
  text-transform: uppercase;
}
.current_series h1 {
  background-color: #0282f9;
  display: inline;
  padding: 10px;
  margin-bottom: 2em;
}
.current_series ul {
  margin-top: 2em;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.current_series ul li {
  border: 1px solid black;
  width: 16.6666666667%;
  text-align: center;
  padding: 10px;
}
.current_series ul li img {
  width: 100%;
  height: 250px;
}
.current_series ul li h3 {
  word-break: break-all;
}
.current_series button {
  background-color: #0282f9;
  color: white;
  font-size: 1em;
  border: none;
  padding: 1em 3em;
  display: flex;
  margin: 1em auto;
}

.second_menu {
  height: 150px;
  background-color: #0282f9;
  margin-top: 0;
  text-transform: uppercase;
}
.second_menu ul {
  list-style: none;
  display: flex;
  line-height: 150px;
}
.second_menu ul li {
  display: flex;
}
.second_menu ul li img {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

h1 {
  color: blue;
}

h2 {
  color: red;
}

.green-box {
  background-color: green;
  color: white;
  display: flex;
  justify-content: space-between;
}

.details-box {
  background-color: lightgray;
}
.details-box .container {
  display: flex;
  justify-content: space-around;
}
.details-box .container .talent-col {
  width: 50%;
}
.details-box .container h2 {
  color: gray;
}
.details-box .container h3 {
  color: gray;
}
.details-box .container a {
  text-decoration: none;
  color: blue;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}