.container {
  width: 70%;
  margin: 0 auto;
}

header {
  height: 100px;
  width: 100%;
  background-color: antiquewhite;
  display: flex;
  justify-content: space-around;
}
header img {
  width: 60px;
  height: 60px;
  margin: auto 0;
}
header ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
header ul li {
  line-height: 100px;
}
header ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: gray;
  padding: 0 20px;
}
header input {
  height: 20px;
  margin: auto 0;
}

.hero-banner {
  background-image: url("./public/images/jumbotron.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
}

.current_series ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.current_series ul li {
  border: 1px solid black;
  width: 16.6666666667%;
  text-align: center;
  padding: 10px;
}
.current_series ul li img {
  width: 200px;
  height: 200px;
}
.current_series ul li h3 {
  word-break: break-all;
  text-transform: uppercase;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}