.hero-banner {
    background-image: url('./public/images/jumbotron.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
} 

.current_series {
    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;

        li {
            border: 1px solid black;
            width: calc(100% / 6);
            text-align: center;
            padding: 10px;

            img {
                width: 200px;
                height: 200px;
            }

            h3 {
                word-break: break-all;
                text-transform: uppercase;
            }
        }
}
}